.StLucia {
    display: none;
}

.StLucia.block {
    display: block;
}

.loadingFlag img:first-child {
    transform: translateX(-50%);
    width: 117%;
}

.loadingFlag .default:first-child {
    animation: StLuciaFlagBackward 2s cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-fill-mode: forwards;
}

.loadingFlag .active:first-child {
    animation: StLuciaFlagForward 2s cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-fill-mode: forwards;
    display: block;
}

@keyframes StLuciaFlagForward {
    0% {transform: translateX(-50%)}
    50% {transform: translateX(40%)}
    100% {transform: translateX(138%);}
}

@keyframes StLuciaFlagBackward {
    0% {transform: translateX(136%)}
    50% {transform: translateX(40%)}
    100% {transform: translateX(-50%);}
}

.StLucia .changeCountry {
    text-align: end;
    opacity: 0;
}

.StLucia .downArrow {
    opacity: 0;
}

.StLucia.active .downArrow,
.StLucia.active .changeCountry {
   animation: visible .35s ease-in-out;
   animation-fill-mode: forwards;
   animation-delay: .6s;
}

@keyframes visible {
    from {opacity: 0;}
    to {opacity: 1;}
}

.StLucia .changeCountry button {
    animation: arrowRight .7s ease-in infinite alternate;
    animation-delay: .05s;
}
@keyframes arrowRight {
    from {transform: translateX(0)}
    to {transform: translateX(4px);}
}